<section class="login-section">
	<div class="login-container">
		<div class="form-container">
			<!-- <h1 class="text-center">Join the legendary battle, Fighter!</h1> -->
			<form class="login-form" id="user-form">
				<span class="input-span">
					<label for="pseudo" class="label">Pseudo</label>
					<input type="text" name="pseudo" id="pseudo" required minlength="2" autocomplete="off"/>
				</span>
				<span class="input-span">
					<label for="profileImage" class="label">Select an image</label>
					<input type="file" name="profileImage" id="profileImageInput" accept="image/*"/>
				</span>
				<span class="input-span">
					<label for="profileBanner" class="label">Select an banner</label>
					<input type="file" name="profileBanner" id="profileBannerInput" accept="image/*"/>
				</span>
				<input class="submit" type="submit" onclick="formSubmit()" value="Enter the Arena" />
			</form>
		</div>
		<div class="card-login-container" id="card-login-container-id">

		</div>
	</div>
</section>