.env
media/files/*
services/*/node_modules/
services/*/package-*
services/*/.objs/
services/user/node_modules
gateway/node_modules
gateway/.objs/
backend/auth/node_modules/
backend/user/.objs/
frontend/node_modules/
frontend/.objs
tests/node_modules/
tests/.objs/
services/media/upload/*
services/user/prisma/node_modules/