.auth-body {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10% 0;
}

.auth-header {
	align-self: center;
	width: 90%;
	height: fit-content;
	display: flex;
	margin-top: 1%;
	justify-content: space-between;
}

.auth-header-navbar {
    display: flex;
    gap: 50px;
    align-items: center;
    font-size: 1.2rem;
}

.auth-logo {
	max-width: 200px;
}

.nav-link.dropdown-toggle {
    font-size: 1.2rem;
}

.dropdown-menu .dropdown-item {
    font-size: 1.2rem;
}


.auth-login-button-navbar {
	background-color: var(--orange-color);
	box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
	cursor: pointer;
    font-size: 1.2rem;
    padding: 0.5rem 1.75rem;
    border-radius: 8px;
	transition: all 0.2s ease;
}

.auth-login-button-navbar:hover {
	scale: 1.1;
}

.auth-presentation {
    width: 80%;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.hero-div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero-text {
	font-size: 45px;
	font-weight: bolder;
}

.call-to-action-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.auth-login-button {
	max-width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	border-radius: 15px;
	background-color: var(--orange-color);
	box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
	padding: 10px;
	cursor: pointer;
	transition: all 0.2s ease;
}

.auth-login-button:hover {
	scale: 1.05;
}

.auth-login-text {
	font-size: x-large;
}

@media (max-width: 375px) {
	.auth-body {
		margin: 5% 0;
	}

	.auth-login-button {
		scale: 0.75;
	}
	
	.auth-login-button:hover {
		scale: 0.85;
	}
	
	.hero-text {
		font-size: 35px;
	}
}
