<section class="game-section">
	<h2 class="line-title">Game mode</h2>
		<div class="carousel-container">
			<div class="game-card" style="background-image: url(assets/game/cops_vs_ia.jpg);">
				<div class="card-content">
					<h3 class="card-title">Coop vs IA</h3>
					<p class="card-description">Coop vs IA is a multiplayer online battle arena by Valve. The game is a sequel to Defense of the
					Ancients, which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
					<a href="/game" class="play-button">Play Now</a>
				</div>
			</div>
		<div class="game-card" style="background-image: url(assets/game/local_game.webp);">
			<div class="card-content">
				<h3 class="card-title">Local game</h3>
				<p class="card-description">Local game is a multiplayer online battle arena by Valve. The game is a sequel to Defense
				of the Ancients, which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
				<a href="/game" class="play-button">Play Now</a>
			</div>
		</div>
		<div class="game-card" style="background-image: url(assets/game/ranked_play.webp);">
			<div class="card-content">
				<h3 class="card-title">Remote party</h3>
				<p class="card-description">Remote party is a multiplayer online battle arena by Valve. The game is a sequel to Defense of the
				Ancients, which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
				<a href="/game" class="play-button">Play Now</a>
			</div>
		</div>
		<div class="game-card" style="background-image: url(assets/game/tournament.webp);">
			<div class="card-content">
				<h3 class="card-title">Tournament mode</h3>
				<p class="card-description">PUBG 2 is a multiplayer online battle arena by Valve. The game is a sequel to Defense of the
				Ancients, which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
				<a href="/game" class="play-button">Play Now</a>
			</div>
		</div>
	</div>
</section>