<section class="dashboard-first-page">
	<a class="btn px-4 btn-lg dashboard-play-button" href="/selection" data-link>
		<img class="dashboard-play-img" src="assets/play_logo.png" alt="play logo">
		<span>Play</span>
	</a>
	<img class="scroll-down" src="assets/scroll-down.svg" alt="scroll down">
	<div class="chat-container-sticky" id="sticky-chat">🥡 CHAT</div>
	</section>
<section class="dashboard-second-page" id="dashboard-second-page">
	<img class="dashboard-what-transcendanse-img" src="assets/what_is_transcendanse.jpg" alt="what is transcendanse">
	<div class="dashboard-what-transcendanse-text">
		<h1 class="dashboard-transcendence-title">ft_transcendence</h1>
		<p class="dashboard-transcendence-intro">
			Welcome to <strong>ft_transcendence</strong>, the final project of the Common Core at 42 School!
		</p>
		<p class="dashboard-transcendence-description">
			This project is a web application that brings together everything you've learned during your journey at 42. It challenges you to create a fully functional platform with real-time features, user authentication, and a seamless user experience.
		</p>
		<p class="dashboard-transcendence-features">
			In <strong>ft_transcendence</strong>, you'll build a website for playing Pong, complete with user profiles, matchmaking, chat functionality, and more. It's an opportunity to showcase your skills in backend development, frontend design, database management, and teamwork.
		</p>
		<p class="dashboard-transcendence-call-to-action">
			Are you ready to transcend your limits and create something extraordinary? Let's dive in!
		</p>
	</div>
</section>