<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="src/Views/Game/Game.css">
</head>
<body>
    <div class="game-container">
        <div class="game-area">
            <canvas id="gameCanvas" width="1600" height="800">
            Your browser does not support the HTML5 canvas tag.
            </canvas>
            <div class="button-container">
                <button id="randomAdversaireButton" type="button">Random Adversaire</button>
                <button id="localButton" type="button">Local</button>
                <button id="roomCodeButton" type="button">Room Code</button>
                <button id="tournamentButton" type="button">Tournament</button>
                <button id="iaButton" type="button">IA</button>
            </div>
        </div>
    </div>
</body>
</html>