<div class="flex flex-col items-center justify-center min-h-screen bg-gradient-to-br from-[#191a2c] to-[#1a1826] text-white px-4 py-12">
    <img src="/assets/not_found.gif" alt="User Not Found" class="mb-4 mt-8 w-80 max-w-full opacity-80 select-none pointer-events-none" loading="lazy" />
  <div class="text-2xl font-bold mb-2">
    Utilisateur introuvable
  </div>
  <p class="mb-8 text-gray-400 text-center max-w-md">
    Impossible de trouver cet utilisateur.<br>
    Il n’existe pas ou son profil a été supprimé.
  </p>
  <a href="/" class="inline-flex items-center px-6 py-3 bg-orange-500 hover:bg-orange-400 transition-colors rounded-full font-semibold text-white shadow-lg" data-link>
    <i class="fa-solid fa-arrow-left mr-2"></i>
    Retour à l'accueil
  </a>
  
</div>
